#background {
  background-image: url('./images/Bistro.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin-top: 2%;
}

main {
  margin-top: 10em;
}

nav {
  margin-bottom: 3%;
}

#logo {
  font-size: 2em;
  margin-right:4em;
  margin-bottom: 0.5em;
}

a {
  margin-top: 20%;
  box-shadow: 1px 1px 2px black;
  width: 15vw;
  height: 7vh;
  margin-left: 42%;
}

#this-vid {
  display: none;
}

img {
  max-width: 25em;
}

#sidebyside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20em;
}

#home-button {
  margin-top: 0.5em;
}

#french-text {
  text-align: center;
}

#cheese-img {
  max-width: 20em;
  height: auto;
}

#head-img {
  max-width: 20em;
  height: auto;
}
