#background {
  background-image: url('./images/Bistro.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin-top: 2%;
}

a {
  margin-top: 20%;
  box-shadow: 1px 1px 2px black;
  width: 15vw;
  height: 7vh;
  margin-left: 42%;
}

#this-vid {
  display: none;
}
